# data type

In [2]:
# int, float, string, bool

In [4]:
var=5
float(var)

5.0

In [24]:
# integer to float convert
print('Before')
var=5
print(type(var), var) # int
# print()
print('\nAfter')
convert_var = float(var)
print(type(convert_var), convert_var) # float

Before
<class 'int'> 5

After
<class 'float'> 5.0

In [44]:
# float to integer convert
print('Before')
var=5.5
print(type(var), var) # float
# print()
print('\nAfter')
convert_var = int(var)
print(type(convert_var), convert_var) # int

Before
<class 'float'> 5.5

After
<class 'int'> 5

In [46]:
# string to integer convert
print('Before')
var='6'
print(type(var), var) # str
# print()
print('\nAfter')
convert_var = int(var)
print(type(convert_var), convert_var) # int

Before
<class 'str'> 6

After
<class 'int'> 6

In [48]:
# string to float convert
print('Before')
var='6.6'
print(type(var), var) # str
# print()
print('\nAfter')
convert_var = float(var)
print(type(convert_var), convert_var) # float

Before
<class 'str'> 6.6

After
<class 'float'> 6.6

In [50]:
# float to string convert
print('Before')
var=6.6
print(type(var), var) # float
# print()
print('\nAfter')
convert_var = str(var)
print(type(convert_var), convert_var) # str

Before
<class 'float'> 6.6

After
<class 'str'> 6.6

In [54]:
# string to int convert
print('Before')
var='6.6'
print(type(var), var) # str

print('\nconvert to float')
convert_var = float(var)
print(type(convert_var), convert_var) # float

print('\nconvert float to integer')
convert_var2=int(convert_var)
print (type(convert_var2), convert_var2) # int

Before
<class 'str'> 6.6

convert to float
<class 'float'> 6.6

convert float to integer
<class 'int'> 6

In [60]:
float1=3.45678
print('value', float1)
print('value', round(float1,3))

value 3.45678
value 3.457

# Data Structure

In [63]:
# list
# set
# tuple
# dictionary

In [65]:
# midifiable
# add element - append, insert, extend, +
# remove element - pop, remove, del, clear

In [67]:
list1 = [2,3,True, 'hi', 'g', 2]
print(list1)
list1.append(100)
print(list1)

[2, 3, True, 'hi', 'g', 2]
[2, 3, True, 'hi', 'g', 2, 100]

In [71]:
list1 = [2,3,True, 'hi', 'g', 2]
print(list1)
list1.append(100)
print(list1)
list1.insert(1,2500)
print(list1)
list1.insert(2,'world')
print(list1)

[2, 3, True, 'hi', 'g', 2]
[2, 3, True, 'hi', 'g', 2, 100]
[2, 2500, 3, True, 'hi', 'g', 2, 100]
[2, 2500, 'world', 3, True, 'hi', 'g', 2, 100]

In [77]:
list1 = [2,3,True, 'hi', 'g', 2]
list2 = [34,56,78,'fg']
add_list=(list1+list2)
print(add_list)

[2, 3, True, 'hi', 'g', 2, 34, 56, 78, 'fg']

In [79]:
list1 = [2,3,True, 'hi', 'g', 2]
list2 = [34,56,78,'fg']
list1.extend(list2)
print(list1)

[2, 3, True, 'hi', 'g', 2, 34, 56, 78, 'fg']

In [83]:
list1 = [2,3,True, 'hi', 'g', 2]
list2 = [34,56,78,'fg']
list3 = ['world']
list1.extend(list2)
list1.extend(list3)
print(list1)

[2, 3, True, 'hi', 'g', 2, 34, 56, 78, 'fg', 'world']

In [85]:
list1 = [2,3,True, 'hi', 'g', 2]
list1.remove(3)
print(list1)

[2, True, 'hi', 'g', 2]

In [89]:
list1 = [2,3,True, 'hi', 'g', 2]
list1.pop(3) # position of element
print(list1)

[2, 3, True, 'g', 2]

In [ ]:
# clear for all emement delete
# del > it's delete that variable ????

In [93]:
list1 = [2,3,True, 'hi', 'g', 2]
list1.clear()
print(list1)

[]

In [101]:
list1 = [2,3,True, 'hi', 'g', 2]
del(list1[4]) ?????
print(list1)

[2, 3, True, 'hi', 2]