# Set data structure

In [4]:
set1={2,3}
print(type(set1))  # for print the data type

<class 'set'>

In [6]:
print(len(set1))  # for print the length of dataset named 'set1'

2

In [8]:
set2={1,1,2,2,3,3,4,4,10,12,14,16}
print(set2)

{1, 2, 3, 4, 10, 12, 14, 16}

In [ ]:
#     feature                     [list]                     {set}
# ------------------------------------------------------------------------------
# Duplicate value             -   allow                -    Not allow
# Multiple data type          -   supported            -    supported
# indexing                    -   allow                -    Not allow
# slicing                     -   allow                -    Not allow
# Unique Value                -   cannot make unique   -    make unique automatic
# ordered (user input)        -   ordered              -    not ordered
# item assignment/replace     -   supported            -    not supported
# modification                -   supported            -    supported

In [12]:
set3={1,1,2,2,3,3,4,4,16,14,10,12}  # data is in descending in set
print(set3)                         # set will make ascending automatically

{1, 2, 3, 4, 10, 12, 14, 16}

In [16]:
set3={1,1,2,2,3,3,4,4,16,14,10,12,'a','c','b'}  # data is in descending in set
print(set3)

{1, 2, 3, 4, 'a', 'c', 10, 12, 14, 16, 'b'}

In [20]:
set4={1,2,3}
set4.add(100)   # for add data in set use function "add"
print(set4)
set4.remove(3)  # for remove data from set use function "remove"
print(set4)

{1, 2, 3, 100}
{1, 2, 100}

In [46]:
set5={'b',11,2,1,3,'a'}
set5.pop()     # pop will remove data randomly from set
print(set5)

{2, 3, 'a', 'b', 11}

In [48]:
set5={11,2,1,3,'a'}
set5.pop()     # pop will remove data randomly from set
print(set5)

{2, 3, 'a', 11}

In [50]:
set5={11,2,3,'a'}
set5.pop()     # pop will remove data randomly from set
print(set5)

{2, 3, 'a'}

In [52]:
set6={1,3}
set7={2,4}
set7.update(set6)  # use finction 'update' to add multiple set, also 'add'
print(set7)

{1, 2, 3, 4}

In [58]:
set8={1,2,3,4,5}
set9={4,5,6,7,8,9}
set8.intersection(set9)  # to get common element from both set

{4, 5}

In [68]:
set8={1,2,3,4,5}
set9={4,5,6,7,8,9}
set8.union(set9)  # to get all element from both set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [74]:
set8={1,2,3,4,5}
set9={4,5,6,7,8,9}
set8.update(set9)  # to get all element or add multiple set
print(set8)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [80]:
set8={1,2,3,4,5}
set9={4,5,6,7,8,9}
set8-set9 # remove those element from set8, which are present in set9, print set 8

{1, 2, 3}

In [86]:
set8={1,2,3,4,5}
set9={4,5,6,7,8,9}
set9-set8 # remove those element from set8, which are present in set8, print set 9

{6, 7, 8, 9}

In [88]:
set8={1,2,3,4,5}
set9={4,5,6,7,8,9}
set9.difference(set8) # remove those element from set8, which are present in set8, print set 9

{6, 7, 8, 9}

In [90]:
# '-' and 'difference' we can use sor same case

In [ ]:
# when use set
#--------------
# where no need indexing
# where no need slicing
# where need unique value

# list to set convert

In [95]:
list1=[1,2,3,4,1,2,3,'a','b',4,'b','c']
set10=set(list1) # will print unique value from list and convert to set, no order follow
print(set10)

{1, 2, 3, 4, 'a', 'c', 'b'}

# set to list convert

In [110]:
set_11={1,2,'a',3,5,'c',2,3,4,'a',5,6,7,'b'}
list_2=list(set_11) # will take unique value (no duplicate) from set, convert to list (not follow order)
print(list_2)

[1, 2, 3, 'a', 5, 4, 6, 'c', 7, 'b']

# tuple

In [113]:
#list VS tuple

In [ ]:
#     feature                     [list]                     {set}                         (tuple)
# -----------------------------------------------------------------------------------------------------
# Duplicate value             -   allow                -    Not allow                   -  allow
# Multiple data type          -   supported            -    supported                   -  supported
# indexing                    -   allow                -    Not allow                   -  allow
# slicing                     -   allow                -    Not allow                   -  allow
# Unique Value                -   cannot make unique   -    make unique automatic       -  cannot make unique
# ordered (user input)        -   ordered              -    not ordered                 -  ordered 
# item assignment/replace     -   supported            -    not supported               -  Not supported
# modification                -   supported            -    supported                   -  Not supported
# nested                      -   allow                -    not allow                   -  allow

In [121]:
tuple1=(1,1,2,4,3,0)
print(type(tuple1))
print(len(tuple1))
print(tuple1)

<class 'tuple'>
6
(1, 1, 2, 4, 3, 0)

In [127]:
tup_2=(1,2,3,5,7,10)
tup_2[:3] # means [0:2+1],[index_start:index_end+1]; indexing to print from index 0 to index2

(1, 2, 3)

In [129]:
# not support add, replace even item assignment

In [135]:
# example of nested list
list_11=[1,'a',[2,4],2,1,{'a',5},3, 6]   # nested list
print(type(list_11))
print(len(list_11))

<class 'list'>
8

In [141]:
print(type(list_11[0]))  # print data type of index 0 of the list (integer)
print(type(list_11[1]))  # print data type of index 1 of the list (string)
print(type(list_11[2]))  # print data type of index 2 of the list (list)
print(type(list_11[3]))  # print data type of index 3 of the list (integer)
print(type(list_11[4]))  # print data type of index 4 of the list (integer)
print(type(list_11[5]))  # print data type of index 5 of the list (set)
print(type(list_11[6]))  # print data type of index 6 of the list (integer)
print(type(list_11[7]))  # print data type of index 7 of the list (integer)

<class 'int'>
<class 'str'>
<class 'list'>
<class 'int'>
<class 'int'>
<class 'set'>
<class 'int'>
<class 'int'>

In [145]:
# find data from nested list
print(list_11[2][0])  # means, in the list_11 has nested list in index 2, in the nested list, there index o value is 2

2

In [147]:
print(list_11[5][0]) # index 5 has set, set not allow indexing, so error

TypeError: 'set' object is not subscriptable

In [153]:
list_11[2][0]='Hello'  # change the value in nested list, from integer 2 to string 'Hellow'
print(list_11)

[1, 'a', ['Hello', 4], 2, 1, {'a', 5}, 3, 6]

In [159]:
list_11[2][1]='Python'  # change the value in nested list, from integer 4 to string 'Python'
print(list_11)

[1, 'a', ['Hello', 'Python'], 2, 1, {'a', 5}, 3, 6]

In [163]:
# If there any tuple carry a list/set inside the tuple - list type cannot be change if we change tuple to any other data type
# but, the values present in the list can be modified as usual