# dictionary

In [141]:
# deictionary reduce the search type
# Ascending by alphabetically ordered
# data type for 'key' (left side): char/word/sentence/string(str), int, float, bool, unique
# when keys will be str/char/word/sentence, must use '<str/char/word/sentence>' this 'quotation' symbol.
# data type for 'value' (right side): all data type, all data structure, not unique
# like value = [list]/{set}/(tuple)/nested-list,set,tuple
# dictionary always start and end with { <dictionary> } curly brace, also must have ':' colon symbol
# left side is key of colon; in dictionary
# right side is value of colon; in dictionary
# we can find value from key, but cannot find key from value in dictionary
# when we add any value under a key, there use {} curly brace in dictionary.
# indictionary keys should be unique
# indexing - not allow
# slicing - not allow
# modificatin - allow
# But, kind of indexing possible by the name or mentioned by 'key' of dictionary

# dictionary data structure
# -------------------------
# dict = {'key':'value'}

In [16]:
# example
dict_01={'color':'black'}
# in dictionary, has a key named 'color' which value is 'black'
# when we search by key 'color' it's will show the value of that key, here value is 'black'
# so the output will be 'black'
dict_01['color']

'black'

In [32]:
dict_02={'one':1,
         'two':2,
         'three':3}
dict_02['one']  # will print, corresponding value '1' of the key named 'one'

1

In [34]:
dict_02={'one':1,
         'two':2,
         'three':3}
print(dict_02['two'])  # will print, corresponding value '2' of the key named 'two'

2

In [36]:
dict_02={'one':1,
         'two':2,
         'three':3}
print(dict_02['three'])  # will print, corresponding value '3' of the key named 'three'

3

In [42]:
print(dict_02.keys()) # will print the key's of the dictionary mentioned (dict_02)
print(dict_02.values()) # will print the value's of the dictionary mentioned (dict_02)

dict_keys(['one', 'two', 'three'])
dict_values([1, 2, 3])

In [207]:
dict_03={'dece@':[1,[4,5,6],3],   # first item/pair
         'two':(1,2,3),           # second item/pair
         'three':'this is three'} # third item/pair
print(dict_03.keys()) # show all keys
print(dict_03.values()) # show all values
print(dict_03.items()) # show all keys and values
print(len(dict_03.items())) # no. of items in dictionary is 3, so output = 3
print(dict_03.keys(),len(dict_03.keys())) # length of key is 3, all keys, output=3
print(dict_03.values(),len(dict_03.values())) # values length is 3, all values, output=3
print(dict_03.items(),len(dict_03.items())) # items in dictionary is 3, all items, output=3

dict_keys(['dece@', 'two', 'three'])
dict_values([[1, [4, 5, 6], 3], (1, 2, 3), 'this is three'])
dict_items([('dece@', [1, [4, 5, 6], 3]), ('two', (1, 2, 3)), ('three', 'this is three')])
3
dict_keys(['dece@', 'two', 'three']) 3
dict_values([[1, [4, 5, 6], 3], (1, 2, 3), 'this is three']) 3
dict_items([('dece@', [1, [4, 5, 6], 3]), ('two', (1, 2, 3)), ('three', 'this is three')]) 3

In [203]:
classroom={'girls':{'a':7,'b':14,'c':11},  # nested dictionary
           'boys':['e','f','g']}
print(classroom)  # print whole dictionary classroom
print(classroom['girls']) # print values of key named 'girl'
print(classroom['girls']['b']) # print the value '14' of keys'b' in dictionary named girls from classroom

{'girls': {'a': 7, 'b': 14, 'c': 11}, 'boys': ['e', 'f', 'g']}
{'a': 7, 'b': 14, 'c': 11}
14

In [74]:
classroom={'girls':{'a':7,'b':[14,80],'c':11},  # nested dictionary and list in dictionary
           'boys':['e','f','g']}
print(classroom['girls']['b']) # print the value <a list> = '[14,80]' of keys'b' in dictionary named girls from classroom

[14, 80]

In [78]:
classroom={'girls':{'a':7,'b':[14,80],'c':11},  # nested dictionary and list in dictionary
           'boys':['e','f','g']}
print(classroom['girls']['b'][0]) 
# print the value of index 0 from <list> = '[14,80]' , value of index 0 = 14 (output)
# name of the list is 'b' in dictionary named girls
# girls is nested dictionary in the dictionary named 'classroom'

14

# adding a item in dictionary

In [102]:
classroom={'girls':{'a':7,'b':[14,80],'c':11},  # nested dictionary and list in dictionary
           'boys':['e','f','g']}
classroom['girls']['d']=1000 # will add another one key 'd' which value is=1000
print(classroom)

{'girls': {'a': 7, 'b': [14, 80], 'c': 11, 'd': 1000}, 'boys': ['e', 'f', 'g']}

# locating a particuler value from a dictionary

In [100]:
classroom={'girls':{'a':7,
                    'b':[14,80],
                    'c':11},  # nested dictionary and list in dictionary
           
           'boys':['e','f','g']}
# locate particuler value
print(classroom) # print whole classroom
print(classroom['boys']) # print the values of keys 'boys' from dictionary named classroom
print(classroom['girls']) # print the values of keys 'girls' from dictionary named classroom
print(classroom['girls']['b'][1]) # print value of index 1 = 80 from list b, from value's of key 'girls' in dictionary named classroom

{'girls': {'a': 7, 'b': [14, 80], 'c': 11}, 'boys': ['e', 'f', 'g']}
['e', 'f', 'g']
{'a': 7, 'b': [14, 80], 'c': 11}
80

# change value in the dictionary

In [109]:
classroom={'girls':{'a':7,
                    'b':[14,80],
                    'c':11},  # nested dictionary and list in dictionary
           
           'boys':['e','f','g']}

classroom['girls']['c']=999 # will change the value of 'c'=99, from value's under key 'girl' in dictionary 'classroom'
print(classroom)

{'girls': {'a': 7, 'b': [14, 80], 'c': 999}, 'boys': ['e', 'f', 'g']}

# samiler keys under dictionary

In [124]:
classroom={'girls':{'a':7,
                    'b':[14,80],
                    'c':11,
                    'a':12345},  # nested dictionary and list in dictionary
 # if there any same key in the dictionary, there, 
           # latest value of that key replace to old kays,
           # mean, one key will show is same name multiple kay in the dictionary.
           # value will be the last one / latest one
           'boys':['e','f','g']}
# in this list a=7 and latest value of a=12345 under same keys.
# at the output, single a will show insted of multiple and value will be 12345, the last/latest one
print(classroom)

{'girls': {'a': 12345, 'b': [14, 80], 'c': 11}, 'boys': ['e', 'f', 'g']}

# remove in dictionary

In [129]:
classroom={'girls':{'a':7,
                    'b':[14,80],
                    'c':11},  # nested dictionary and list in dictionary
           
           'boys':['e','f','g']}

del classroom['girls']['b'] # will remove mentioned value 'b' (it's a list), from key 'girls' in the dictionary named classroom
print(classroom)

{'girls': {'a': 7, 'c': 11}, 'boys': ['e', 'f', 'g']}

In [131]:
# remove a key from classroom
classroom={'girls':{'a':7,
                    'b':[14,80],
                    'c':11},  # nested dictionary and list in dictionary
           
           'boys':['e','f','g']}

del classroom['girls'] # will remove mentioned key 'girls' in the dictionary named classroom
print(classroom)

{'boys': ['e', 'f', 'g']}

In [135]:
# remove  classroom
classroom={'girls':{'a':7,
                    'b':[14,80],
                    'c':11},  # nested dictionary and list in dictionary
           
           'boys':['e','f','g']}

del classroom # will remove mentioned dictionary named classroom
print(classroom) # there no any dictionary exist named classroom after del (remove), so, error on print function

NameError: name 'classroom' is not defined

In [139]:
# join two dictionary
classroom_girls={'girls':{'a':7,
                    'b':[14,80],
                    'c':11}}  # nested dictionary and list in dictionary
           
classroom_boys={'boys':['e','f','g']}

classroom_girls.update(classroom_boys) # will add keys and values from classroom_boys to classroom_girls
print(classroom_girls)

{'girls': {'a': 7, 'b': [14, 80], 'c': 11}, 'boys': ['e', 'f', 'g']}

In [147]:
classroom_girls.get('girls') # will get the values of key named 'girls' from dictionary named classroom_girls
# classroom_girls['girls'] >> same output

{'a': 7, 'b': [14, 80], 'c': 11}

In [153]:
classroom_girls.get('girl') # there no any key named 'girl' so, there no any output
# no error show because of use the 'get' function

In [157]:
# if we want to return some note if there no key found as we search, then
classroom_girls.get('girl', 'not found') # will return 'not found' if there no kay named 'girl'

'not found'

In [163]:
classroom_girls['girl']  # show error because we not use 'get' function here, there no any key named 'girl' as previous

KeyError: 'girl'

In [171]:
# for example together
dataset={1:'one',
         2:'two'}

print(dataset[2], dataset.get(3))
# it's show value 'two' for key 'two'
# return 'none' by default, becuse there no any key named '3'
# if we want, we can mentioned 'user defined return' instead of default return 'none'

two None

In [173]:
dataset={1:'one',
         2:'two'}

print(dataset[2], dataset.get(3,'not found'))

two not found

In [175]:
# another example of list
list_11=[10,20,30,40,50]
list_11.index(100) # shows error, because value is not in the list

ValueError: 100 is not in list

In [179]:
list_11=[10,20,30,40,50]
# index [ 0, 1, 2, 3, 4]
list_11.index(30) # will return corresponding index value of 30; here output is 2

2

In [211]:
# example of indexing
list=[10,20,30]
dict={'a':10,
      'b':20,
      'c':30}
list[0] # index 0 has value = 10, output=10

10

In [215]:
dict['a'] # key 'a' has value=10, output=10

10

In [231]:
# example
# fruit > yellow > mango, banana
#       > green  > apple, orange

fruit={'yellow':['mango','banana',
       'green':['apple','orange']}
print(fruit) # will print full dictionary
print(fruit['yellow']) # will print the list of yellow under dictionary 'fruit'

{'yellow': ['mango', 'banana'], 'green': ['apple', 'orange']}
['mango', 'banana']

In [237]:
fruit={'yellow':{'mango':5,'banana':5},
       'green':{'apple':10,'orange':10}}
print(fruit) # will print full dictionary

{'yellow': {'mango': 5, 'banana': 5}, 'green': {'apple': 10, 'orange': 10}}