# 41. Write a Python program to create multiple lists.

In [4]:
mul_list = {}
def mult_list (a,b):
    for i in range (a,b):
        mul_list[i] = []

mult_list(1,16)
print(mul_list)

{1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: [], 10: [], 11: [], 12: [], 13: [], 14: [], 15: []}

# 42. Write a Python program to find missing and additional values in two lists.
# Sample data : Missing values in second list: b,a,c 
# Additional values in second list: g,h

In [1]:
lst_01 = ["a","c","d","g","u","t","e"]
lst_02 = ["d","e","a","q","x","p"]

miss_val_ls2 = set(lst_01) - set(lst_02)
print(f"Missing values in second list\t\t: {list(miss_val_ls2)}")
add_val_ls2 = set(lst_02) - set(lst_01)
print(f"Additional values in second list\t: {list(add_val_ls2)}")

Missing values in second list		: ['t', 'u', 'g', 'c']
Additional values in second list	: ['p', 'q', 'x']

# 43. Write a Python program to split a list into different variables.

In [11]:
color = [("Black", "#000000", "rgb(0, 0, 0)"),("Red", "#FF0000", "rgb(255, 0, 0)"),("Yellow", "#FFFF00", "rgb(255, 255, 0)")]
color = color_p1, color_p2, color_p3
print(color_p1)
print(color_p2)
print(color_p3)

('Black', '#000000', 'rgb(0, 0, 0)')
('Red', '#FF0000', 'rgb(255, 0, 0)')
('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

# 44. Write a Python program to generate groups of five consecutive numbers in a list.

In [20]:
new_list = []
for i in range (1,41,5):
    new_list.append([i, i+1, i+2, i+3, i+4])
print(f"Group of list = {new_list}")

Group of list = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25], [26, 27, 28, 29, 30], [31, 32, 33, 34, 35], [36, 37, 38, 39, 40]]

# 45. Write a Python program to convert a pair of values into a sorted unique array.

In [31]:
pairs = [(3, 5), (1, 2), (4, 5), (2, 3), (6, 1), (2, 3)]
empty_set = set()

for i in pairs:
    empty_set.add(i[0])
    empty_set.add(i[1])
print(empty_set)

{1, 2, 3, 4, 5, 6}

# 46. Write a Python program to select the odd items of a list.

In [34]:
input_list = [24, 3, 5, 11, 6, 88, 34, 77, 2, 4]
odd_list = []
for i in input_list:
    if i%2 != 0:
        odd_list.append(i)

print(f"Odd items are: {odd_list}")

Odd items are: [3, 5, 11, 77]

# 47. Write a Python program to insert an element before each element of a list.

In [39]:
input_lst = ["Red", "Yellow", "Green", "Blue", "Pink"]
insert_element = "color"
new_lst = []

for i in input_lst:
    new_lst.append(insert_element)
    new_lst.append(i)

print(new_lst)

['color', 'Red', 'color', 'Yellow', 'color', 'Green', 'color', 'Blue', 'color', 'Pink']

# 48. Write a Python program to print a nested lists (each list on a new line) using the print() function.

In [42]:
in_list = [[4, 8, 1], [6, 11, 98], [2, 7, 9], [11, 33, 55]]

for i in in_list:
    print(i)

[4, 8, 1]
[6, 11, 98]
[2, 7, 9]
[11, 33, 55]

# 49. Write a Python program to convert list to list of dictionaries. 
# Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"] 
# Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [53]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
new_list = []

for i in range(len(color_name)):
    new_list.append({"color name": color_name[i], "color code": color_code[i]})

print(new_list)

[{'color name': 'Black', 'color code': '#000000'}, {'color name': 'Red', 'color code': '#FF0000'}, {'color name': 'Maroon', 'color code': '#800000'}, {'color name': 'Yellow', 'color code': '#FFFF00'}]

# 50. Write a Python program to sort a list of nested dictionaries.

In [115]:
data = [{"name": "Alice", "age": 25, "score": 88},
    {"name": "Bob", "age": 30, "score": 75},
    {"name": "Charlie", "age": 22, "score": 90}]

list_01 = []
for i in data:
    list_01.append((i["name"], i["age"], i["score"]))

def get_by_age(a):
    return a["age"]
data.sort(key=get_by_age)

print("Sorted by age:")
for a in data:
    print(a)

def get_by_score(b):
    return b["score"]
data.sort(key=get_by_score)   

print("\nSorted by score:")
for b in data:
    print(b)

Sorted by age:
{'name': 'Charlie', 'age': 22, 'score': 90}
{'name': 'Alice', 'age': 25, 'score': 88}
{'name': 'Bob', 'age': 30, 'score': 75}

Sorted by score:
{'name': 'Bob', 'age': 30, 'score': 75}
{'name': 'Alice', 'age': 25, 'score': 88}
{'name': 'Charlie', 'age': 22, 'score': 90}

# 51. Write a Python program to split a list every Nth element. 
# Sample list: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'] 
# Expected Output: [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [122]:
input_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

n = 3  

g_1 = []
g_2 = []
g_3 = []

for i in range(len(input_list)):
    if i % n == 0:
        g_1.append(input_list[i])
    elif i % n == 1:
        g_2.append(input_list[i])
    elif i % n == 2:
        g_3.append(input_list[i])

new_list = [g_1, g_2, g_3]

print(new_list)

[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

# 52. Write a Python program to compute the difference between two lists.
# Sample data: ["red", "orange", "green", "blue", "white"], ["black", "yellow", "green", "blue"] 
# Expected Output: 
# Color1-Color2: ['white', 'orange', 'red'] 
# Color2-Color1: ['black', 'yellow']

In [129]:
color1 = ["red", "orange", "green", "blue", "white"]
color2 = ["black", "yellow", "green", "blue"]

c1_c2 = set(color1) - set(color2)
c2_c1 = set(color2) - set(color1)

c_1_2 = list(c1_c2)
c_2_1 = list(c2_c1)

print(f"Color1 - Color2 = {c_1_2}")
print(f"Color2 - Color1 = {c_2_1}")

Color1 - Color2 = ['orange', 'white', 'red']
Color2 - Color1 = ['black', 'yellow']

# 53. Write a Python program to create a list with infinite elements.

In [138]:
num = 1
while True:
    print(num)
    num += 1

    if num > 24:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

# 54. Write a Python program to concatenate elements of a list.

In [10]:
inp_list = ["python", "machine", "learning", "class"]

print('-'.join(inp_list))
print(''.join(inp_list))

python-machine-learning-class
pythonmachinelearningclass

# 55. Write a Python program to remove key values pairs from a list of dictionaries.

In [43]:
in_list = [{"color1": "white", "color2":"red"},{"color1": "yellow", "color2":"green"}]

for i in in_list:
    del i["color1"]

print(in_list)

[{'color2': 'red'}, {'color2': 'green'}]

# 56. Write a Python program to convert a string to a list.

In [50]:
input_string = "python machine learning"
output_list = input_string.split()

print(output_list)

['python', 'machine', 'learning']

# 57. Write a Python program to check whether all items of a list is equal to a given string.

In [69]:
list_01 = ["apple", "apple", "apple"]
list_02 = ["apple", "banana", "apple"]

def item_chk(a):
    for i in a:
        if i != "apple":
            return False
    return True

print(f"For list 01 = {item_chk(list_01)}")
print(f"For list 02 = {item_chk(list_02)}")

For list 01 = True
For list 02 = False

# 58. Write a Python program to replace the last element in a list with another list. 
# Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8] 
# Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]

In [76]:
inp_01 = [1, 3, 5, 7, 9, 10]
inp_02 = [2, 4, 6, 8]

inp_01[-1:] = inp_02
print(inp_01)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

# 59. Write a Python program to check whether the n-th element exists in a given list.

In [94]:
in_list = [10, 20, 30, 40, 50, 60, 70]
chk_index = int(input("Enter the index to check: "))

if chk_index < len(in_list):
    print(f"Element at index {chk_index} is: {in_list[chk_index]}")
else:
    print(f"No element found at index: {chk_index}")

Enter the index to check:  5

Element at index 5 is: 60

# 60. Write a Python program to find a tuple, the smallest second index value from a list of tuples.

In [97]:
inp_list = [(4, 23), (3, 17), (1, 15), (7, 77), (6, 91)]

sm_tuple = inp_list[0]
for i in inp_list:
    if i[1] < sm_tuple[1]:
        sm_tuple = i

print("Tuple with the smallest second value:", sm_tuple)

Tuple with the smallest second value: (1, 15)